.boldonse-regular {
  font-family: "Boldonse";
  font-weight: 400;
  font-style: normal;
}


h1 {
    font-family: Boldonse;
    font-size: 1rem;
}

.boxOne {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d60036;
    height: 100vh;
    width: 100vw;
    margin-bottom: 1rem;
}

.heading:hover {
    color: aliceblue;
}

.boxTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4860dc;
    height: 100vh;
    width: 100vw;
    margin-bottom: 1rem;
}

.boxThree {
    display: flex;
    justify-content: center;
    align-items: center;
     background-image: url(images/About\ Image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin-bottom: 1rem;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
h1 {
    font-family: Boldonse;
    font-size: 1rem;}
}

    
@media screen and (min-width: 1025px) {
h1 {
    font-family: Boldonse;
    font-size: 2rem;}
}

